<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Quizzer</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" />
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css" th:href="@{/css/bootstrap-responsive.min.css}" />
  <link rel="stylesheet" href="css/fullcalendar.css" th:href="@{/css/fullcalendar.css}"/>
  <link rel="stylesheet" href="css/matrix-style.css" th:href="@{/css/matrix-style.css}" />
  <link rel="stylesheet" href="css/matrix-media.css" th:href="@{/css/matrix-media.css}" />
  <link href="font-awesome/css/font-awesome.css" th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
  <link rel="stylesheet" href="css/jquery.gritter.css" th:href="@{/font-awesome/css/font-awesome.css}" />
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>-->
</head>
<body>

<div th:replace="commons/bar::topbar"></div>
<div th:replace="commons/bar::leftbar"></div>
<!--main-container-part-->
<div id="content">
  <!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a></div>
  </div>
  <!--End-breadcrumbs-->
  <div class="container">

    <div ng-controller="HomeCtrl">

      <div>
        <h1 th:text="#{label.home.welcome}">Welcome to Quiz!</h1>
        <br/>
      </div>

      <table class="table table-hover" align="center">
        <thead>
        <tr>
          <th th:text="#{label.home.maintable.headers.quiz}" width="70%">Quiz</th>
          <th th:text="#{label.home.maintable.headers.questions}">Questions</th>
          <th th:text="#{label.home.maintable.headers.times}">Times played</th>
          <th th:text="#{label.home.maintable.headers.play}">Play!</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="quiz in quizzes">
          <td>
            <h4>{{quiz.name}}</h4>
            <h5><small class="text-muted">{{quiz.description}}</small></h5>
          </td>
          <td>
            <p>20</p>
          </td>
          <td>
            <p>5033</p>
          </td>
          <td>
            <a href="/quiz/{{quiz.id}}" class="btn btn-primary">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="text-center">
        <button th:text="#{label.home.maintable.loadmore}" class="btn btn-default" ng-click="loadNextPage()" ng-show="pagination.morePagesAvailable">Load more...</button>
      </div>

    </div>

  </div>
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> </div>
</div>

<!--end-Footer-part-->
<div th:replace="commons/angular :: angular">...</div>
<script type="text/javascript" src="../js/homeApp.js"
        th:src="@{/js/homeApp.js}"></script>
<script src="js/excanvas.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.custom.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flot.min.js"></script>
<script src="js/jquery.flot.resize.min.js"></script>
<script src="js/jquery.peity.min.js"></script>
<script src="js/fullcalendar.min.js"></script>
<script src="js/matrix.js"></script>
<script src="js/matrix.dashboard.js"></script>
<script src="js/jquery.gritter.min.js"></script>
<script src="js/matrix.interface.js"></script>
<script src="js/matrix.chat.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/matrix.form_validation.js"></script>
<script src="js/jquery.wizard.js"></script>
<script src="js/jquery.uniform.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/matrix.popover.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/matrix.tables.js"></script>

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

    // if url is empty, skip the menu dividers and reset the menu selection to default
    if (newURL != "") {

      // if url is "-", it is this page -- reset the menu:
      if (newURL == "-" ) {
        resetMenu();
      }
      // else, send page to designated URL
      else {
        document.location.href = newURL;
      }
    }
  }

  // resets the menu selection upon entry to this page:
  function resetMenu() {
    document.gomenu.selector.selectedIndex = 2;
  }
</script>
</body>
</html>
